* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bg-gray {
  background-color: #efefef;
}

.border-gray {
  border: 1px solid #aaa;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}

.col {
  display: flex;
  margin-bottom: 10px;
}

.wrap {
  display: block;
  padding: 5px;
}

/* BOTOES */

.btn {
  padding: 2px 10px;
  min-width: 70px;
  border-radius: 6px;
  text-align: center;
  z-index: 9999;
  position: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  cursor: move;
}

.turn-btn {
  background-color: rgb(0, 38, 255);
  color: white;
}

.step-btn {
  background-color: rgb(33, 156, 60);
  color: white;
}

.loop-btn {
  background-color: rgb(255, 152, 17);
  color: white;
}

/* TITULOS E TEXTOS */

.title-column {
  padding: 10px 2px;
  font-size: 20px;
  text-align: center;
  /* background-color: white;  */
  color: #333;
  margin-bottom: 30px;
}

#opcoes {
  display: block;
  width: 100px;
  height: 450px;
  padding: 10px;
  border-radius: 10px;
}

#comandos {
  width: 100px;
  height: 450px;
  padding: 10px;
  border-radius: 10px;
}

#tela {
  padding: 10px;
  width: 450px;
  height: 450px;
  background-size: cover;
  background-image: url("assets/space.jpg");
  border-radius: 10px;
  overflow: hidden;
}

#codigo {
  padding: 10px;
  width: 450px;
  height: 450px;
  border-radius: 10px;
}

.sup {
  font-size: 8px;
  top: -40px;
  color: white;
}

.curtain {
  width: 100%; /* Ensures the component is the full screen width */
  height: 100vh; /* We're using this for demo purposes */
  overflow: hidden; /* Allows us to slide the panels outside the container without them showing */
}

.curtain__wrapper {
  width: 100%;
  height: 100%;
}

.curtain__panel {
  background: orange;
  width: 50%; /* Each panel takes up half the container */
  height: 100vh; /* Used for demo purposes */
  float: left; /* Makes sure panels are side-by-side */
  position: relative; /* Needed to define the z-index */
  z-index: 2; /* Places the panels in front of the prize */
  transition: all 1s ease-out; /* Animates the sliding transition */
}

.curtain__prize {
  background: #333;
  position: absolute; /* Forces the prize position into the container start */
  z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
  width: 100%;
  height: 100%;
}
.curtain-text {
  background-color: transparent;
  position: absolute; /* Forces the prize position into the container start */
  top: 0px;
  left: 0px;
  z-index: 2; /* Places the prize behind the panels, which are z-index 2 */
  width: 100%;
  height: 100%;
  display: none;
}
.curtain-text-label {
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 60%;
  margin-top: 20%;
}
input[type="checkbox"] {
  position: absolute; /* Force the checkbox at the start of the container */
  cursor: pointer; /* Indicate the curtain is clickable */
  opacity: 0; /* Hide the checkbox */
}

input[type="checkbox"]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
}

/* Slide the second panel in */
input[type="checkbox"]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
}

.curtain__panel--left {
  transform: translateX(-100%);
}

/* Slide the panel to the right out of the container */
.curtain__panel--right {
  transform: translateX(100%);
}

#draggable {
  height: 353px;
}

#play,
#reset {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#play:hover,
#reset:hover {
  cursor: pointer;
}

#play .icon-play,
#reset .icon-reset {
  max-width: 60px;
}

#play:hover .icon-play {
  animation: bounce 0.5s infinite alternate;
  -webkit-animation: bounce 0.5s infinite alternate;
}

#reset:hover .icon-reset {
  animation: spin 4s linear infinite;
}

.btn-action {
  margin: 50px 0px;
}

.btn-action .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  margin-top: 15px;
}

.btn-action:hover .tooltiptext {
  visibility: visible;
}

#code pre{
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

/* Keyframes animation */

@keyframes spin {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
