#container_geral{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    height: 100%;
}

#container{
    position: relative;
    overflow: visible;
}
.tabuleiro{
    display: block;
}
.linha{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile{
    display: flex;
    margin: 2px;
    box-sizing: border-box;
    height: 38px;
    width: 38px;
    background-color: rgba(255, 106, 0, 1);
    box-shadow: 3px 3px rgba(255, 69, 0, 0.5);
}
.tile.vazio{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px;
}
.personagem{
    width: 40px;
    height: 60px;
    position: absolute;
    left: 0px;
    top:0px;
    margin-top: -35px;
    margin-left: 0px;
}
.personagem .sprite{
    background-size: 400% 400%;
    width: 40px;
    height: 60px;
    background-image: url("../assets/astronauta_sprite.png");
}

.gas{
    width: 40px;
    height: 60px;
    position: absolute;
    left: 0px;
    top:0px;
    margin-top: -25px;
    margin-left: 0px;
}
.gas .sprite{
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 80%;
    margin-left: 7px;
    margin-top: 13px;
    background-image: url("../assets/fuel.png");
}

.foguete{
    background-color: rgba(0, 0, 0, 0);
   
    width: 40px;
    height: 60px;
    position: absolute;
    left: 0px;
    top:0px;
    margin-top: -25px;
    margin-left: 0px;
}
.foguete .sprite{
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 80px;
    background-position: center center;
    margin-left: 2px;
    background-image: url("../assets/rocket.png");
}